 <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>Cards</title>
  </head>
  <body>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Digital News & Weather</h1 class="display-4">
        <p class="lead">Giving you the most up to date information live in a digital format*</p>
        <p> *Digital is an all new format that enables you to read articles on your computer screen, with updates that come through live</p>
      </div>
    </div>


<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-sm-6">
            <h1> Current conditions </h1>
        <p> In <%= @location %>, it is currently <%= @current_temperature %> and <%= @current_conditions.downcase %> </p>
    </div>

    <div class="col-sm-6">
        <h1> Weather alerts </h1>
            <p> <%= @weather_warning %> </p>
    </div>

    <div class="row mt-5">
        <div class="col-sm-6">
            <h1> Daily Forecast </h1>

            <% for day in @forecast["daily"]["data"] %>
            <p> A high of <%= day["temperatureHigh"] %> 
            and <%= day["summary"].downcase %> </p>
            <% end %>
        </div>

    <div class="col-sm-6">
        <h1> Daily News </h1>
        <% for article in @news["articles"] %>
        <p> 
        <%= article["title"] %> 
        </p>
        <p>
        <%= article["url"] %> 
        </p>
        <% end %>
    </div>
</div>

 </body>
</html>